.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}

.pname {
    font-size: 20px;
    text-transform: uppercase;
}

.pquan {
    margin-top: 10px;
}

.buy {
    margin: 20px auto;
    display: block;
    padding: 10px 30px;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    border: none;
    font-size: 15px;
    background-color: var(--primary-color);
}

.product-grid {
    display: grid;
    grid-gap: 50px;
    justify-items: center;
    margin-top: 1.5%;
}

.product-item {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid #ccc;
    padding: 20px 40px 20px 40px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    border-radius: 10px;
}

.product-grid>* {
    margin-bottom: 10px;
}


@media (min-width: 381px) and (max-width: 767px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        justify-items: center;
        margin-top: 1.5%;
    }

    .product-grid>* {
        margin-bottom: 8px;
    }

    .product-item {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: 1px solid #ccc;
        padding: 10px 30px 10px 30px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        border-radius: 10px;
    }
}


@media (max-width: 480px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        justify-items: center;
        margin-top: 1.5%;
    }
}