<nav class="navbar navbar-expand-sm fixed-top">
    <div class="container"> 
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item ml-4"><a routerLink="/"href="" class="nav-link">Home</a></li>
                <li class="nav-item ml-4"><a routerLink="/show-product" class="nav-link" routerLinkActive="'active">Show Product</a></li>
                <li class="nav-item ml-4"><a routerLink="/add-product" class="nav-link" routerLinkActive="'active">Add Product</a></li>
                <li class="nav-item ml-4"><a routerLink="/order-product" class="nav-link">Cart</a></li>
                <li class="nav-item ml-4"><a routerLink="/top-selling-product" class="nav-link">Top sold product</a></li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
