.container {
    margin-top: 35vh;
}

.add-product-form {
    margin-top: 40vh;
    margin-bottom: auto;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-product-form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.add-product-form input[type="text"],
.add-product-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.add-product-form input[type="checkbox"] {
    margin-right: 10px;
}

.add-product-form .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-product-form .submit-button:hover {
    background-color: #45a049;
}

.card {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn {
    height: 40px;
    border: none;
    font-size: 15px;
    background-color: var(--primary-color);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #f9f9f9;
    width: 100%;
}

.heading {
    margin-bottom: 7%;
}

.form-group {
    margin-top: 20px;
}